/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 22; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
  // turn on for testing ->
  // display: flex;
}
a#myBtn {
  cursor: pointer;
}
/* Modal Content/Box */
.modal-content {
  padding: 1.5em;
  border: 1px solid #888;
  width: 96%;
  max-width: 600px;
  border-radius: 3px;
  h2 {
    font-size: 1.2em;
    color: #fff;
    padding: 0.5em;
  }
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  margin-right: 0.5em;
  font-size: 2em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 0.5em 1em;
  background-color: #f47844;
  color: white;
  h2 a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Modal Body */
.modal-body { 
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  & > p {
    margin-top: 0;
    margin-bottom: 1.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #fff;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  form {
    width: 100%;
    span { // success msg
      text-align: center;
      font-size: 2em;
      line-height: 1.2em;
      color: #fff;
    }
    label {
      display: block;
      margin: 0 0 0.25em 0;
    }
    input,
    textarea {
      width: 100%;
      font-size: 1.1em;
      padding: 0.5em;
      background-color: rgba(255,255,255,0.6);
      border: none;
      outline: none;
      &:focus {
        outline: none;
      }
    }
    input {
      margin-bottom: 1em;
      &::placeholder {
        color: #707070;
      }
    }
    textarea {
      height: 6em;
    }
    .submit-links {

      #msg {
        margin-top: 0.75em;
        width: 100%;
        .alert-warning {
          margin-bottom: 0.5em;
          border-radius: 5px;
          padding: 0.75em;
          font-size: 1em;
          color: #313131;
          background-color: #ffdddd;
          border: 1px solid #ff5a5a;
        }
        .alert-success {
          margin-bottom: 0.5em;
          border-radius: 5px;
          padding: 0.75em;
          font-size: 1em;
          color: #fff;
          background-color: #82c33a;
          border: 1px solid #45661f;
        }
      }


  #send-success {


      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: #fff;
      justify-content: space-around;
      margin-top: 0.75em;


      .cloze,
      .clozer,
      .send {
        margin-bottom: 0;
        width: 45%;
        background-color: #82c33a;
        color: #fff;
        font-size: 1.1em !important;
        font-family: 'Roboto', sans-serif;
        -webkit-appearance: none;
        border: none;
        text-align: center;
        text-decoration: none;
        padding: 1em !important;
        line-height: 1em !important;
        border: none;
        cursor: pointer;
        border: 1px solid #fff;
        transition: all 0.2s ease;
        &:hover {
          opacity: 0.6;
        }
      }
      .send {
        // pointer-events: none;
      }
      .cloze,
      .clozer {
        background-color: black;
        transition: all 0.2s ease;
        &:hover {
          opacity: 0.6;
          text-decoration: none;
        }
      }
      .clozer {
        width: 100%;
      }

}




    }   
  }





      #msg2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: #fff;
        justify-content: space-around;
        margin-top: 0.75em;

        .clozer {
          margin-bottom: 0;
          color: #fff;
          font-size: 1.1em;
          border: none;
          text-align: center;
          text-decoration: none;
          padding: 1em;
          line-height: 1em;
          border: none;
          cursor: pointer;
          border: 1px solid #fff;
          transition: all 0.2s ease;

          width: 100%;
          background-color: black;
          transition: all 0.2s ease;
          &:hover {
            opacity: 0.6;
            text-decoration: none;
          }
        }   
      }




}

/* Modal Footer */
.modal-footer {
  background-color: #f47844;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #3d5764;
  color: #fff;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}