#intro {
	width: 100%;
	// min-height: 80vh;
	position: relative;
	background-color: #f6ede9;
	padding: 100px 20px 0px 20px;
	// min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	img.divider {
		width: 100%;
		max-width: 900px;
		margin: 100px auto 0px auto;
		display: block;

	}
}
.intro-wrap {
	width: 100%;
	max-width: 1100px;
	display: flex;
	margin: 0 auto;
	padding: 50px 0px;
	.left,
	.right {
		width: 50%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
    text-align: justify;
		h2 {
			display: block;
			width: 100%;
			font-size: 1.8em;
			font-weight: bold;
			color: #82c33a;
		}
	}
	.left {
		justify-content: center;
		align-items: center;
		img.intro-img {
			width: 96%;
			max-width: 300px;
			border-radius: 50%;
		}
	}

}

@media screen and (max-width: 550px) {
	.intro-wrap {
		flex-direction: column;
		.left,
		.right {
			width: 96%;
		}
		.left {
			margin-bottom: 2em;
		}
	}
}